//Colors
$color-white: #fff;
$color-black: #000;

$color-smokegrey: #f9f9f9;
$color-grey: #676767;

$color-yellow: #f2b91f;

$color-cyan: #daebea;
$color-cyan0: #d5e9e7;
$color-cyan1: #b5d8d5;
$color-cyan2: #54b2aa;
$color-cyan3: #30746e;


//Grid
$grid-width: 84.722%;
$gutter-vertical-b: 50px;
$gutter-vertical-m: 35px;
$gutter-vertical-s: 20px;
$gutter-horizontal-b: 20px;
$gutter-horizontal-m: 15px;
$gutter-horizontal-s: 12px;